html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree";
  font-size: 1.8rem;
  line-height: 1;
}

.container {
  max-width: 65rem;
  margin: 0 auto;
}

.text-align {
  text-align: center;
}

.btn {
  padding: 1.2rem 2.4rem;
  border-radius: 100px;
  border: none;
  color: white;
  display: inline-block;
  cursor: pointer;
}
.btn-left {
  background-color: var(--cyan);
  box-shadow: 0 1px 3px var(--cyan);
}
.btn-right {
  background-color: var(--lightblue);
  box-shadow: 0 1px 3px var(--lightblue);
}

.hero-section {
  padding: 9.6rem;
  height: 60vh;
  background-image: url("/images/bg-header-desktop.png");
  background-size: cover;
}
.hero-logo {
  margin-bottom: 4rem;
}
.hero-btns-block {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree";
  font-size: 1.8rem;
  line-height: 1;
}

.container {
  max-width: 65rem;
  margin: 0 auto;
}

.text-align {
  text-align: center;
}

.btn {
  padding: 1.2rem 2.4rem;
  border-radius: 100px;
  border: none;
  color: white;
  display: inline-block;
  cursor: pointer;
}
.btn-left {
  background-color: var(--cyan);
  box-shadow: 0 1px 3px var(--cyan);
}
.btn-right {
  background-color: var(--lightblue);
  box-shadow: 0 1px 3px var(--lightblue);
}

:root {
  --cyan: hsl(171, 66%, 44%);
  --lightblue: hsl(233, 100%, 69%);
  --darkgrayblue: hsl(210, 10%, 33%);
  --grayblue: hsl(201, 11%, 66%);
}

.primary-heading {
  font-size: 3.8rem;
  margin-bottom: 2.4rem;
}

.description {
  color: var(--grayblue);
  margin-bottom: 3.6rem;
}