html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree";
  font-size: 1.8rem;
  line-height: 1;
  position: relative;
}

.container {
  max-width: 65rem;
  margin: 0 auto;
}

.text-align {
  text-align: center;
}

.btn {
  padding: 1.4rem 4rem;
  border-radius: 100px;
  border: none;
  color: white;
  display: inline-block;
  cursor: pointer;
}
.btn-left {
  background-color: var(--cyan);
  box-shadow: 0 2px 5px var(--cyan);
  border-bottom: 2px solid var(--darkcyan);
}
.btn-right {
  background-color: var(--lightblue);
  box-shadow: 0 2px 5px var(--lightblue);
  border-bottom: 2px solid var(--darkblue);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
  align-items: center;
  max-width: 140rem;
  margin: 0 auto;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 60%;
  }
  .snippet-block {
    gap: 2rem;
  }
  .snippet-block-right {
    align-items: center;
  }
}
@media only screen and (max-width: 56em) {
  html {
    font-size: 55%;
  }
  .snippet-block {
    gap: 6rem;
    flex-direction: column;
  }
  .snippet-block-left {
    text-align: center;
  }
  .snippet-block-left img {
    height: 40%;
    width: 70%;
  }
  .snippet-block-right {
    align-items: center;
  }
  .supercharge {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  .supercharge-block {
    width: 60%;
  }
  .access-img img {
    width: 60%;
  }
  .featured {
    flex-direction: column;
    align-items: center;
    gap: 8rem;
  }
  .section-access {
    padding: 4.8rem 0;
  }
  .section-featured {
    padding: 7rem 0;
  }
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 34em) {
  .hero-btns-block {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 0 1rem;
  }
  .btn {
    width: 100%;
  }
  .grid {
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
  }
  .footer-media {
    justify-content: center;
    margin-top: 3rem;
  }
  .footer-list {
    gap: 0;
  }
  .footer-list-item {
    margin-top: 3rem;
  }
}
.hero-section {
  padding: 9.6rem;
  background-image: url("/images/bg-header-desktop.png");
  background-size: cover;
}
.hero-logo {
  margin-bottom: 4rem;
}
.hero-btns-block {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.snippets-section {
  padding: 6.4rem 0;
}

.snippet-track {
  margin-bottom: 8rem !important;
}
.snippet-block {
  display: flex;
  align-items: center;
  gap: 12.8rem;
  justify-content: space-evenly;
  max-width: 170rem;
  margin: 0 auto;
}
.snippet-block-left {
  flex-basis: 50%;
}
.snippet-block-left img {
  width: 100%;
  height: 50%;
}
.snippet-block-right {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  flex-basis: 40%;
}
.snippet-block-list {
  width: 57%;
}

.section-access {
  padding: 9.6rem 0;
}

.access-block {
  margin-bottom: 8.6rem;
}
.access-img {
  text-align: center;
}
.access-img img {
  width: 42%;
  display: inline-block;
}

.section-supercharge {
  padding: 1rem 0;
}

.supercharge {
  display: flex;
  max-width: 150rem;
  margin: 0 auto;
  margin-top: 8rem;
}
.supercharge-img {
  margin-bottom: 3rem;
}
.supercharge-img img {
  width: 4.6rem;
  height: 4rem;
}
.supercharge-description {
  width: 80%;
}
.supercharge-block {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 100%;
}

.section-featured {
  padding: 9.6rem 0;
}

.featured {
  max-width: 140rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.section-clipboard {
  padding: 4rem 0;
  padding-bottom: 12.8rem;
}

.footer {
  padding: 4rem;
  background-color: var(--gray);
}
.footer-logo img {
  height: 5rem;
}
.footer-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer-list-item a:link,
.footer-list-item a:visited {
  text-decoration: none;
  color: var(--darkgrayblue);
  transition: all 0.3s;
}
.footer-list-item a:hover,
.footer-list-item a:active {
  color: var(--cyan);
}
.footer-media {
  display: flex;
  gap: 3rem;
  justify-content: end;
}

#block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree";
  font-size: 1.8rem;
  line-height: 1;
  position: relative;
}

.container {
  max-width: 65rem;
  margin: 0 auto;
}

.text-align {
  text-align: center;
}

.btn {
  padding: 1.4rem 4rem;
  border-radius: 100px;
  border: none;
  color: white;
  display: inline-block;
  cursor: pointer;
}
.btn-left {
  background-color: var(--cyan);
  box-shadow: 0 2px 5px var(--cyan);
  border-bottom: 2px solid var(--darkcyan);
}
.btn-right {
  background-color: var(--lightblue);
  box-shadow: 0 2px 5px var(--lightblue);
  border-bottom: 2px solid var(--darkblue);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
  align-items: center;
  max-width: 140rem;
  margin: 0 auto;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 60%;
  }
  .snippet-block {
    gap: 2rem;
  }
  .snippet-block-right {
    align-items: center;
  }
}
@media only screen and (max-width: 56em) {
  html {
    font-size: 55%;
  }
  .snippet-block {
    gap: 6rem;
    flex-direction: column;
  }
  .snippet-block-left {
    text-align: center;
  }
  .snippet-block-left img {
    height: 40%;
    width: 70%;
  }
  .snippet-block-right {
    align-items: center;
  }
  .supercharge {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  .supercharge-block {
    width: 60%;
  }
  .access-img img {
    width: 60%;
  }
  .featured {
    flex-direction: column;
    align-items: center;
    gap: 8rem;
  }
  .section-access {
    padding: 4.8rem 0;
  }
  .section-featured {
    padding: 7rem 0;
  }
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 34em) {
  .hero-btns-block {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 0 1rem;
  }
  .btn {
    width: 100%;
  }
  .grid {
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
  }
  .footer-media {
    justify-content: center;
    margin-top: 3rem;
  }
  .footer-list {
    gap: 0;
  }
  .footer-list-item {
    margin-top: 3rem;
  }
}
:root {
  --cyan: hsl(171, 66%, 44%);
  --darkcyan: hsl(171, 60%, 31%);
  --lightblue: hsl(233, 100%, 69%);
  --darkblue: hsl(233, 54%, 55%);
  --darkgrayblue: hsl(210, 10%, 33%);
  --grayblue: hsl(201, 11%, 66%);
  --gray: hsla(205, 12%, 80%, 0.151);
}

.primary-heading {
  font-size: 3.8rem;
  margin-bottom: 2.4rem;
  color: var(--darkgrayblue);
}

.secondary-heading {
  font-size: 3.4rem;
  color: var(--darkgrayblue);
  margin-bottom: 2.4rem;
}

.tertiary-heading {
  font-size: 2.8rem;
  color: var(--darkgrayblue);
  margin-bottom: 2.4rem;
}

.description {
  color: var(--grayblue);
  margin-bottom: 3.6rem;
  line-height: 1.6;
}