html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Bai Jamjuree";
  font-size: 1.8rem;
  line-height: 1;
}
.container {
  max-width: 65rem;
  margin: 0 auto;
}
.text-align {
  text-align: center;
}

.btn {
  padding: 1.2rem 2.4rem;
  border-radius: 100px;
  border: none;
  color: white;
  display: inline-block;
  cursor: pointer;
  &-left {
    background-color: var(--cyan);
    box-shadow: 0 1px 3px var(--cyan);
  }
  &-right {
    background-color: var(--lightblue);
    box-shadow: 0 1px 3px var(--lightblue);
  }
}
