.hero {
  &-section {
    padding: 9.6rem;
    background-image: url("/images/bg-header-desktop.png");
    background-size: cover;
  }
  &-logo {
    margin-bottom: 4rem;
  }
  &-btns-block {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}

.snippets-section {
  padding: 6.4rem 0;
}
.snippet {
  &-track {
    margin-bottom: 8rem !important;
  }
  &-block {
    display: flex;
    align-items: center;
    gap: 12.8rem;
    justify-content: space-evenly;
    max-width: 170rem;
    margin: 0 auto;
    &-left {
      flex-basis: 50%;

      img {
        width: 100%;
        height: 50%;
      }
    }
    &-right {
      display: flex;
      flex-direction: column;
      gap: 4.8rem;
      flex-basis: 40%;
    }
    &-list {
      width: 57%;
    }
  }
}

.section-access {
  padding: 9.6rem 0;
}
.access {
  &-block {
    margin-bottom: 8.6rem;
  }
  &-img {
    text-align: center;
    img {
      width: 42%;
      display: inline-block;
    }
  }
}

.section-supercharge {
  padding: 1rem 0;
}
.supercharge {
  display: flex;
  max-width: 150rem;
  margin: 0 auto;
  margin-top: 8rem;
  &-img {
    margin-bottom: 3rem;
    img {
      width: 4.6rem;
      height: 4rem;
    }
  }
  &-description {
    width: 80%;
  }

  &-block {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
  }
}

.section-featured {
  padding: 9.6rem 0;
}
.featured {
  max-width: 140rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.section-clipboard {
  padding: 4rem 0;
  padding-bottom: 12.8rem;
}

.footer {
  padding: 4rem;
  background-color: var(--gray);

  &-logo {
    img {
      height: 5rem;
    }
  }
  &-list-block {
  }
  &-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &-item {
      a:link,
      a:visited {
        text-decoration: none;
        color: var(--darkgrayblue);
        transition: all 0.3s;
      }
      a:hover,
      a:active {
        color: var(--cyan);
      }
    }
  }

  &-media {
    display: flex;
    gap: 3rem;
    justify-content: end;
  }
}
